/* Header */

.header {
    justify-content: flex-end;
    z-index: 2;
}

.logo {
    display: none;
}

nav.nav_menu {
    display: flex;
}

nav.nav_menu a {
    font-size: 1.6rem;
    padding: .5rem;
    color: var(--white);
    font-family: 'Cooper Hewitt';
    text-decoration: none;
    letter-spacing: .1rem;
    right: 0;
    margin-right: 3rem;
}

nav.nav_menu a:hover {
    color: var(--beaver);
    padding: .5rem 1rem;
    background: var(--eerie-black);
    border-radius: 1.5rem;
    transition: all .4s ease;
}

nav.nav_menu.not-active a {
    display: flex;
}

div.btn {
    display: none;
}

/* Home */

.home {
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 4rem;
    height: 100vh;
}

.container_image-home {
    width: 55%;
    padding-right: 4rem;
}

.image_home {
    object-fit: contain;
}

.home_info {
    width: 40%;
    padding-left: 6rem;
}

.container_text-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    letter-spacing: .2rem;
    text-align: start;
}

.home_text-1 {
    font-size: 3.5rem;
    margin-left: .4rem;
    font-weight: bold;
}

.home_text-2 {
    font-size: 6rem;
    font-weight: bold;
    color: var(--white);
}

.home_text-3 {
    margin: 0 0 2rem 0;
    font-size: 1.8rem;
    width: 35rem;
    letter-spacing: .2rem;
}

.container_button {
    display: flex;
}

.cv_button {
    background: none;
    color: var(--beaver);
    border: 1px solid var(--beaver);
    margin-right: 1rem;
}

.contact_button {
    display: inline-block;
    background-color: var(--beaver);
    border-radius: 3rem;
    padding: .5rem 3.6rem;
    color: var(--jet);
    font-family: 'Cooper Hewitt';
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin: 2rem 0 2rem 1rem;
    border: none;
    cursor: pointer;
}

.links {
    width: 5%;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 3rem 2rem 3rem;
}

.links img {
    margin: .7rem 0 .7rem 0;
}

/* Sobre Mí */

.sobreMi {
    padding-bottom: 4rem;
}

.sobreMi h1 {
    margin-top: 2rem;
}

.container_content-sobreMi {
    flex-direction: row-reverse;
}

.container_texto-sobreMi {
    width: 70%;
    padding: 0 5% 0 3rem;
}

.title_sobreMi {
    text-align: start;
    font-size: 3.2rem;
    letter-spacing: .3rem;
}

.texto_sobreMi {
    text-align: start;
    font-size: 2rem;
    letter-spacing: .2rem;
    line-height: 2.8rem;
}

/* Habilidades */

.habilidades {
    height: 100vh;
    position: relative;
}

.habilidades h1 {
    padding-top: 8rem;
}

.puntos1-habilidades {
    display: inline;
    position: absolute;
    width: 6rem;
    margin: 15rem 0 0 /* 41rem */ 23%;
    background-attachment: fixed;
}

.puntos2-habilidades {
    display: inline;
    position: absolute;
    width: 6rem;
    margin: 0 0 0 72%;
}

.cards_container--habilidades {
    grid-template-columns: 13rem 13rem 13rem;
    grid-template-rows: 14rem 14rem;
    padding: 0;
    margin-top: 2rem;
}

.cards--habilidades {
    filter: grayscale(1);
}

.cards--habilidades:hover {
    filter: grayscale(0);
    border: 1px solid var(--beaver);
    transition: all 1s;
}

.cards--habilidades p {
    font-size: 1.6rem;
    margin-top: .8rem;
}

/* Formación */

.formacion {
    height: 100vh;
    position: relative;
}

.formacion h1 {
    padding-top: 8rem;
}

.cards--formacion {
    transition: .8s all;
}

.cards--formacion:hover {
    border: 1px solid var(--beaver);
    box-shadow: 0 10px 16px -6px rgb(5 5 5 / 30%), 0 25px 10px -24px rgb(5 5 5 / 10%);
    transform: scale(1.1);
}

/* Proyectos */

.proyectos h1 {
    padding-top: 8rem;
}

.puntos1-proyectos {
    display: inline;
    position: absolute;
    width: 6rem;
    margin: 20rem 0 0  1%;
    background-attachment: fixed;
}

.puntos2-proyectos {
    display: inline;
    position: absolute;
    width: 6rem;
    margin: -3rem 0 0 93%;
}

.cards_container--proyectos {
    flex-direction: row;
    justify-content: center;
}

.cards--proyectos {
    width: 40rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 1.5rem;
    z-index: 1;
}

.text-portafolio {
    margin-top: -3rem;
}