@font-face {
    font-family: 'Cooper Hewitt';
    src: url('../fonts/CooperHewitt-Light.woff') format('woff'),
    url('../fonts/CooperHewitt-Thin.woff') format('woff');
}

:root {
    --white: #FFFFFF;
    --light-grey: #D9D9D9;
    --beaver: #A78976;
    --black: #141414;
    --eerie-black: #1F1F1F;
    --jet: #292929;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scrollbar-width: thin;
    scrollbar-color: var(--beaver) var(--eerie-black);
}

/* Header */

.header {
    background-color: var(--jet);
    padding: 2rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    transition: .5s;
}

.header.abajo {
    backdrop-filter: blur(15px);
    background: rgba(41,41,41,.3);
}

.logo {
    color: var(--beaver);
    font-family: 'Cooper Hewitt';
    font-weight: bold;
    font-size: 1.8rem;
    letter-spacing: .3rem;
    text-decoration: none;  
}

nav.nav_menu.active {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 6.3rem;
    width: 100%;
    height: auto;
    background-color: var(--eerie-black);
    box-shadow: 0 10px 16px -6px rgb(5 5 5 / 30%), 0 25px 10px -24px rgb(5 5 5 / 10%);
    animation: ease .4s left forwards;
}

@keyframes left {
    0% {
        left: 100%;
    }
    100% {
        left: 0;
    }
}

nav.nav_menu {
    display: none;
}

nav.nav_menu.active a {
    padding: 2rem;
    font-family: 'Cooper Hewitt';
    letter-spacing: .1rem;
    text-decoration: none;
    color: var(--white);
    font-size: 2rem;
    width: 100%;
    text-align: center;
}

nav.nav_menu.active a:hover {
    color: var(--beaver);
    background-color: var(--black);
    transition: all .4s;
}

.btn {
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translate(-50%, -50%);
    width: 3rem;
    cursor: pointer;
}

#button span {
    display: block;
    width: 100%;
    box-shadow: 0 2px 10px 0 rgb(0, 0, 0, 0.3);
    border-radius: 3px;
    height: .3rem;
    background: var(--beaver);
    transition: all .3s;
    position: relative;
}

span+span {
    margin-top: .6rem;
}

.active span:nth-child(1) {
    animation: ease .7s top forwards;
}

.not-active span:nth-child(1) {
    animation: ease .7s top-2 forwards;
}

.active span:nth-child(2) {
    animation: ease .7s scaled forwards;
}

.not-active span:nth-child(2) {
    animation: ease .7s scaled-2 forwards;
}

.active span:nth-child(3) {
    animation: ease .7s bottom forwards;
}

.not-active span:nth-child(3) {
    animation: ease .7s bottom-2 forwards;
}

@keyframes top {
    0% {
        top: 0;
        transform: rotate(0);
    }
    50% {
        top: 1rem;
        transform: rotate(0);
    }
    100% {
        top: 1rem;
        transform: rotate(45deg);
    }
}

@keyframes top-2 {
    0% {
        top: .8rem;
        transform: rotate(45deg);
    }
    50% {
        top: .8rem;
        transform: rotate(0deg);
    }
    100% {
        top: 0;
        transform: rotate(0deg);
    }
}

@keyframes bottom {
    0% {
        bottom: 0;
        transform: rotate(0);
    }
    50% {
        bottom: .8rem;
        transform: rotate(0);
    }
    100% {
        bottom: .8rem;
        transform: rotate(135deg);
    }
}

@keyframes bottom-2 {
    0% {
        bottom: .8rem;
        transform: rotate(135deg);
    }
    50% {
        bottom: .8rem;
        transform: rotate(0);
    }
    100% {
        bottom: 0;
        transform: rotate(0);
    }
}

@keyframes scaled {
    50% {
        transform: scale(0);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes scaled-2 {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

/* Home */

.home {
    background-color: var(--jet);
    width: 100%;
    height: auto;
}

.container_image-home {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 12rem 0 5rem 0;
}

.image_home {
    width: 60%;
}

.home_info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.home_text-1 {
    font-family: 'Cooper Hewitt';
    color: var(--white);
    font-size: 2rem;
}

.home_text-2 {
    font-family: 'PT Sans';
    color: var(--beaver);
    font-size: 3.2rem;
    margin-bottom: 1rem;
}

.home_text-3 {
    font-family: 'Cooper Hewitt';
    color: var(--white);
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
}

.cv_button {
    background-color: var(--beaver);
    border-radius: 3rem;
    padding: .5rem 2rem;
    color: var(--jet);
    font-family: 'Cooper Hewitt';
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin: 2rem 0;
    border: none;
    cursor: pointer;
}

.contact_button {
    display: none;
}

.links {
    display: flex;
    justify-content: center;
    padding: 2rem 0 6rem 0;
}

.links img {
    width: 2.4rem;
    margin: 0 .5rem;
}

/* Sobre mí */

.sobreMi {
    background-color: var(--eerie-black);
    width: 100%;
    height: auto;
}

.sobreMi h1 {
    display: block;
    text-align: center;
    color: var(--white);
    font-family: 'Cooper Hewitt';
    font-size: 2.4rem;
    letter-spacing: .1rem;
    padding-top: 6rem;
}

.container_texto-sobreMi {
    display: flex;
    flex-direction: column;
    padding: 4rem 3rem 3rem 3rem;
}

.title_sobreMi {
    font-family: 'Cooper Hewitt';
    color: var(--beaver);
    text-align: center;
    font-size: 2.2rem;
    letter-spacing: .1rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.texto_sobreMi {
    color: var(--light-grey);
    font-family: 'Cooper Hewitt';
    font-size: 1.5rem;
    letter-spacing: .1rem;
    white-space: pre-line;
    text-align: justify;
    line-height: 2.2rem;
}

.container_image-sobreMi {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

.image_sobreMi {
    width: 65%;
    margin-bottom: 5rem;
}

/* Habilidades */

.habilidades {
    background-color: var(--jet);
    width: 100%;
    height: auto;
}  

.habilidades h1 {
    display: block;
    text-align: center;
    color: var(--white);
    font-family: 'Cooper Hewitt';
    font-size: 2.4rem;
    letter-spacing: .1rem;
    padding: 6rem 0 5rem 0;
}

.cards_container--habilidades {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 3rem 3rem 3rem;
}

.cards--habilidades {
    background-color: var(--eerie-black);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    filter: grayscale(1);
    width: 11rem;
    margin: 0 1rem 2rem 1rem;
}

.cards--habilidades:hover {
    filter: grayscale(0);
    transition: 1s;
}

.cards--habilidades img {
    margin-top: .7rem;
    width: 9rem;
}

.cards--habilidades p {
    color: var(--white);
    font-family: 'Cooper Hewitt';
    letter-spacing: .1rem;
    font-size: 1.4rem;
    margin-bottom: .7rem;
}

/* Formación */

.formacion {
    background-color: var(--eerie-black);
    width: 100%;
    height: auto;
}

.formacion h1 {
    display: block;
    text-align: center;
    color: var(--white);
    font-family: 'Cooper Hewitt';
    font-size: 2.4rem;
    letter-spacing: .1rem;
    padding: 6rem 0 5rem 0;
}

.cards_container--formacion {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 2rem 3rem 2rem;
}

.cards--formacion {
    background-color: var(--jet);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 32rem;
    margin: 0 1rem 2rem 1rem;
    padding: 1rem;
}

.cards--formacion img {
    width: 25rem;
}

img.logo-one {
    width: 20rem;
    margin: 7rem 0 6rem 0;
}

img.logo-sena {
    width: 20rem;
    margin: 2rem 0;
}

.cards--formacion p:nth-child(2) {
    color: var(--beaver);
    font-family: 'Cooper Hewitt';
    letter-spacing: .1rem;
    font-size: 1.8rem;
    margin-bottom: .7rem;
}

.cards--formacion p:nth-child(3) {
    color: var(--light-grey);
    font-family: 'Cooper Hewitt';
    letter-spacing: .1rem;
    font-size: 1.4rem;
    margin-bottom: .7rem;
}

/* Proyectos */

.proyectos {
    background-color: var(--jet);
    width: 100%;
    height: auto;
}

.proyectos h1 {
    display: block;
    text-align: center;
    color: var(--white);
    font-family: 'Cooper Hewitt';
    font-size: 2.4rem;
    letter-spacing: .1rem;
    padding: 6rem 0 5rem 0;
}

.container-proyectos {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    perspective: 50rem;
    padding: 2rem 3rem 0 3rem;
}

.container-proyectos .box {
    position: relative;
    width: 27.5rem;
    height: 27.5rem;
    background: var(--eerie-black);
    transition: 0.4s;
    transform-style: preserve-3d;
    overflow: hidden;
    margin: 0 2rem 6rem 2rem;
    border-radius: 20px;
}

.container-proyectos:hover .box {
    transform: rotateY(25deg);
}

.container-proyectos .box:hover ~ .box {
    transform: rotateY(-25deg);
}

.container-proyectos .box:hover {
    transform: rotateY(0deg) scale(1.25);
    z-index: 1;
    box-shadow: 0 25px 40px rgba(0,0,0,0.5);
}

.container-proyectos .box .image-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container-proyectos .box .image-box:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,#f00,#000);
    z-index: 1;
    opacity: 0;
    transition: 0.5s;
    mix-blend-mode: multiply;
}

.container-proyectos .box:hover .image-box:before {
    opacity: 1;
}

.container-proyectos .box .image-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-proyectos .box .contenido {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    padding: 20px;
    align-items: flex-end;
    box-sizing: border-box;
}

.container-proyectos .box .contenido h2 {
    color: #fff;
    transition: 0.5s;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 20px;
    transform: translateY(200px);
    transition-delay: 0.3s;
}

.container-proyectos .box:hover .contenido h2 {
    transform: translateY(0px);
}

.container-proyectos .box .contenido p {
    color: #fff;
    transition: 0.5s;
    font-size: 14px;
    transform: translateY(200px);
    transition-delay: 0.4s;
}

.container-proyectos .box:hover .contenido p {
    transform: translateY(0px);
}

/* Contacto */

.contacto {
    background-color: var(--eerie-black);
    width: 100%;
    height: auto;
}

.contacto h1 {
    display: block;
    text-align: center;
    color: var(--white);
    font-family: 'Cooper Hewitt';
    font-size: 2.4rem;
    letter-spacing: .1rem;
    padding: 6rem 0 5rem 0;
}